# IDE-specific files
.vscode/
*.code-workspace

# Python virtual environment
566hw1/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Datasets
*.csv
*.gz
FashionMNIST/

# OS-specific files
.DS_Store

# Python cache and build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
dist/
*.egg
*.egg-info/
pip-selfcheck.json
env/
venv/